body {
    background-color: #1e1e1e;
    color: white;
    
}
.navbar{
    height: 80px;
    position: absolute;
    width: 100%;
    font-size: 18px;
    z-index: 1;
    background-color: #1e1e1e;
    color: #ffffff;
}
.navbar-items {
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;

}
.navbar-item {
    position: relative;
    padding: 0px 20px;
    margin: 0px 0;
    top: 28px;
}
.sell {
    position: relative;
    top: 28px;
    float: right;
    padding: 0 20px;
}
.header h1 {
    font-size: 85px;
    font-weight: 600;
    text-align: center;
    padding: 218px 0 0 0;
}
.header h3 {
    font-size: 31px;
    text-align: center;
    margin-top: -25px;
}
.header-img img {
    position: absolute;
}
.overlay {
    background-color: #00000069;
    width: 100%;
    height: 574px;
    position: relative;
    margin-bottom: 40px;
}
.latest h1 {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;

}
.latest-items {
    display: flex;
    padding: 0px 165px;
}
.latest-item {
    width: 30%;
    /* height: 300px; */
    margin: 0 13px;
    padding: 12px 12px 44px;
    border: #343434 solid 1px;
    border-radius: 10px;
}
.item-thumb {
    border-bottom: 1px solid #353535;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.item-thumb img {
    width: 100%;
    border-radius: 10px;
}
h2.item-title {
    font-size: 18px;
    font-weight: 550;
}
.item-milage {
    display: block;
}







/* create */
.create-box {
    border-left: rgb(33, 51, 68) solid 2px;
    background: #1e1e1e;
    width: 40%;
    height: 100vh;
    margin: 0 0 0 auto;
    padding: 25px 0;
    z-index: 2;
    position: relative;
}
.items-box {
    
    width: 95%;
    margin: 0 auto;
    padding: 10px 10px;
}
.items-box input, .items-box select {
    background-color: #343434;
    display: block;
    width: 100%;
    margin: 8px 5px 0 0 !important;
    padding: 10px !important;
    border-radius: 10px;
    border: solid 3px #3c4f67;

}
.items-box input:focus, .items-box select:focus {
    border: rgb(118, 163, 242) 3px solid;
}
.items-box input[type='submit'] {
    transition: all linear 200ms;
    
}
.items-box input[type='submit']:hover {
    background-color: #5ba1ec;
}
.items-box input:focus-visible, .items-box select:focus-visible {
    outline: none;
}

.box-item {
    display: flex;
}

.login-image {
    position: absolute;
   
}
.login-image img {
     width: 1536px;
    max-height: 100vh;
    /* margin: auto; */
    object-fit: cover;
    transform: scaleX(-1);
}
.login-overlay {
    background-color: #00000069;
    width: 100%;
    height: 100vh;
    position: absolute;
}